<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AdvertMapper">
  <resultMap id="BaseResultMap" type="com.spring.model.Advert">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="advert_title" jdbcType="VARCHAR" property="advertTitle" />
    <result column="advert_content" jdbcType="VARCHAR" property="advertContent" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, advert_title, advert_content, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_advert
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>