<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.TradeStatisticsMapper">

  <resultMap id="BaseResultMap" type="com.spring.model.TradeStatistics">
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="terminal_no" jdbcType="VARCHAR" property="terminalNo" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="cash" jdbcType="DECIMAL" property="cash" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="c_fee" jdbcType="DECIMAL" property="cFee" />
    <result column="trade_type" jdbcType="TINYINT" property="tradeType" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="crypto_currency" jdbcType="VARCHAR" property="cryptoCurrency" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
  </resultMap>
</mapper>